name: monkey-minder

volumes:
  src:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./

services:
  server:
    profiles: [prod]
    build:
      context: .
      additional_contexts:
        dev: service:dev
      dockerfile_inline: |
        # syntax=docker/dockerfile:1.20
        FROM dev AS builder
        WORKDIR /build-in/
        # copy just this in first & build, so docker will (hopefully?) not need to reinstall deps on source code changes
        COPY --parents ./go.mod ./go.sum /build-in/
        RUN go mod download
        # now copy the actual source code in, do codegen, then build
        COPY --parents --exclude=*.pb.go ./proto ./server ./Makefile ./monkeyminder_client.go /build-in/
        RUN make protos-go
        RUN go build -o /build-out/server ./server/
        # copy just our final executable to a new container to minimize size
        # FROM scratch
        FROM alpine:3.22
        RUN apk add iptables
        COPY --from=builder /build-out/server /bin/server
        CMD ["/bin/server"]
  dev:
    profiles: [dev-all]
    build:
      dockerfile: Dockerfile
    volumes:
      - src:/src
    working_dir: /src
    command: tail -f /dev/null
    develop:
      # slightly janky solution for local rebuild watching:        (but hey, it works.)
      #  we copy the actual watched files to /dev/null in the container
      #   (since afaict there's no way to have docker compose watch files with an 'exec' but no 'sync')
      #  and then run make within the container but with the host's src directory mounted
      watch:
        - path: ./
          action: sync+exec
          exec:
            command: make protos
          include:
            - "**/*.proto"
          target: /dev/null
        - path: ./Dockerfile
          action: rebuild
  dev-report:
    platform: linux/amd64
    profiles: [dev-all]
    build:
      dockerfile: ./report/Dockerfile
    volumes:
      - src:/src
    working_dir: /src/report
    command: tail -f /dev/null
    develop:
      watch:
        - path: ./report/
          action: sync+exec
          exec:
            command: make report.pdf
          include:
            - "**/*.tex"
            - "**/*.mmd"
          target: /dev/null
        - path: ./report/
          action: rebuild
          include:
            - "Dockerfile"
  dev-report-draft:
    platform: linux/amd64
    profiles: [dev-all]
    build:
      dockerfile: ./report/Dockerfile
    volumes:
      - src:/src
    working_dir: /src/report
    command: tail -f /dev/null
    develop:
      watch:
        - path: ./report/
          action: sync+exec
          exec:
            command: make report-draft.pdf
          include:
            - "**/*.tex"
            - "**/*.mmd"
          target: /dev/null
        - path: ./report/
          action: rebuild
          include:
            - "Dockerfile"
